:root
{
		--grayish: #666666;
		--whitish: #F8F8F8;
		--greenish: #E0E9F0;
		--btop: #F1F8FE;
		--bbottom: #CBD2D8;
		--bluish: #90B4D6;
}

body
{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 90%;
		color: var(--grayish);
		background-color: var(--whitish);
}

li
{
		list-style-image: url("../images/icon-plus.png");
		line-height: 1.6em;
}

table
{
		border-spacing: 0px;
}

th, td
{
		padding: 5px 30px 5px 10px;
		border-spacing: 0px;
		font-size: 90%;
		margin: 0px;
		text-align: left;
		background-color: var(--greenish);
		border-top: 1px solid var(--btop);
		border-bottom: 1px solid var(--bbottom);
		border-right: 1px solid var(--bbottom);
}

tr.head th
{
		color: white;
		background-color: var(--bluish);
		border-bottom: 2px solid #547CA0;
		border-right: 1px solid #749ABE;
		border-top: 1px solid var(--bluish);
		text-align: center;
		text-shadow: -1px -1px 1px white;
}

tr.even td, tr.even th
{
		background-color: #E8EFF5; 
}

tr.head th:first-child
{
		border-top-right-radius: 5px;
}

fieldset
{
		width: 310px;
		margin-top: 20px;
		border: 1px solid #781414;
		background-color: white;
		line-height: 1.6em;
}

legend
{
	font-style: italic;
	color: var(--grayish);
}

input[type = "text"]:focus,
input[type = "text"]:hover
{
		background-color: #D0E2F0;
		border: 1px solid #999999;
}

input[type = "submit"]
{
		border: 1px solid #006633;
		background-color: #009966;
		color: white;
		border-radius: 5px;
		padding: 5px;
		margin-top: 10px;
}

input[type = "submit"]:hover
{
		border: 1px solid #006633;
		background-color: #00CC33;
		cursor: pointer;
}

.title
{
		float: left;
		width: 160px;
		clear: left;
}

.submit
{
		width: 310px;
		text-align: right;
}
